.button--create-dataset {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 480px;
  font-size: 1rem;
  user-select: none;
  border: 2px solid var(--color-light-7);
  background-color: var(--color-light-7);
  padding: 10px 10px 10px 30px;
  transition: all 0.1s ease-in-out;
}

.button--create-dataset.active,
.button--create-dataset:hover {
  border-color: var(--color-accent-hover);
}

.button--create-dataset.active {
  justify-content: space-between;
}

.button--create-dataset.active .button--create-dataset--input {
  display: block;
  background-color: var(--color-light-9);
}

.button--create-dataset--input {
  display: none;
  background-color: transparent;
  padding: 5px 10px;
  height: 40px;
  color: var(--color-light-0);
  width: 240px;
  height: 100%;
}

.button--create-dataset--text {
  white-space: nowrap;
}