.dataset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid var(--color-light-6);
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.dataset-button:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.dataset-button.active {
  background-color: var(--color-accent);
  border-color: var(--color-accent-hover);
}

.dataset-button.active:hover {
  background-color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.dataset-button:focus-visible {
  /* border-color: var(--color-white); */
  /* border-width: 2px; */
    outline: 2px solid var(--color-white);
  border-color: transparent;
}