.item-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  padding: 0 10px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--color-light-6);
  cursor: pointer;
  /* border-left: 10px solid transparent; */
  transition: all 0.08s ease-in-out;
}

.item-card:hover:not(.warning),
.item-card.active:not(.warning) {
  /* border-left-color: var(--color-accent); */
  background-color: var(--color-accent);
}

.item-card.active:hover {
  /* border-left-color: var(--color-accent-hover); */
  background-color: var(--color-accent);
}

.item-card.warning {
  background-color: var(--color-warning);
}

.item-card.warning:hover {
  background-color: var(--color-warning);
}

.item-card.dim {
  opacity: 0.5;
}
.item-card.dim:hover {
  background-color: var(--color-light-6);
}


.item-card--title {
  color: var(--color-light-0);
  font-size: 0.9rem;
  user-select: none;
}

.item-card--description {
  color: var(--color-light-2);
  font-size: 0.9rem;
  user-select: none;
}

.item-card--icon-delete {
  display: none;
  --size: 24px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: calc(50% - var(--size)/2);
  right: calc(var(--size) / 2);
  border-radius: 5px;
  user-select: none;
}

.item-card .item-card--icon-delete:hover {
  background-color: var(--color-accent-hover);
}

.item-card.warning .item-card--icon-delete:hover {
  background-color: var(--color-warning-hover);
}

.item-card:hover .item-card--icon-delete,
.item-card.warning .item-card--icon-delete {
  display: flex;
}

.item-card input[type=text] {
  width: 0;
  height: 0;
}