.item-image {
  position: relative;
  border-radius: 10px;
  background-color: var(--color-light-7);
  transition: all 0.08s ease-in-out;
}

.item-image:hover {
  box-shadow: 0 0 10px 2px #00000080;
}

.item-image--icon-delete:focus-visible {
  outline: 2px solid var(--color-white);
}

.item-image.will-delete .item-image--img {
  opacity: 0.4;
}

.item-image--img {
  height: 128px;
  border-radius: 10px;
}

.item-image--icons {
  --icon-size: 32px;
  position: absolute;
  top: calc(var(--icon-size) / 4);
  right: calc(var(--icon-size) / 4);
  display: flex;
  gap: 4px;
  z-index: 1;
}

.item-image--icon-delete {
  --size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 2px 1px;
  text-align: center;
  border-radius: 100px;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-warning);
  font-size: 1.2rem;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 10px 2px #00000040;
}

.item-image:hover .item-image--icon-delete {

}

.item-image--icon-delete:hover {
  background-color: var(--color-warning-hover);
}

.item-image .icon.database-yes {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-light-5);
  border-radius: 5px;
}