#window--train-setup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  padding: 80px;
}

.window--train-setup--contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 640px;
  border-radius: 20px;
  background-color: var(--color-light-7);
  padding: 40px;
  height: 100%;
}

.window--train-setup--button--begin {
  background-color: var(--color-accent);
  font-size: 1.2rem;
}

.window--train-setup--button--begin:focus-visible {
  outline: 2px solid var(--color-light-0);
}

.window--train-setup--contents--title {
  display: flex;
}

.window--train-setup--contents--title h1 {
  font-weight: 400;
  color: var(--color-light-2);
  user-select: none;
}

.window--train-setup--mode-switch {
  display: flex;
  gap: 5px;
  width: 100%;
}

.window--train-setup--mode-switch--tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  cursor: pointer;
  background-color: var(--color-light-6);
}

.window--train-setup--mode-switch--tab:hover {
  background-color: var(--color-light-5);
  color: var(--color-white);
}

.window--train-setup--mode-switch--tab:first-child {
  border-radius: 10px 0 0 10px;
}

.window--train-setup--mode-switch--tab:last-child {
  border-radius: 0 10px 10px 0;
}

.window--train-setup--mode-switch--tab.active {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.window--train-setup--mode-switch--tab:focus-visible {
  outline: 2px solid var(--color-light-0);
}


.window--train-setup--dataset-select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  height: 240px;
  max-height: 240px;
  width: 100%;
  /* background-color: var(--color-light-6); */
  border: 2px solid var(--color-light-6);
  border-radius: 10px;
}

.window--train-setup--dataset-select--datasets {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}

.window--train-setup--dataset-select--heading {
  display: flex;
}

.window--train-setup--dataset-select--title {
  font-weight: 400;
  padding-left: 3px;
  margin-bottom: 12px;
  color: var(--color-light-2);
  user-select: none;
}

.window--train-setup--dataset-select--item-count {
  color: var(--color-light-2);
  margin-right: 10px;
}

.window--train-setup--side {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: max-content;
  padding: 20px 20px 20px 120px;
  border-radius: 10px;
}

.window--train-setup--training-method-sides {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.window--train-setup--side {
  min-height: 60px;
}

.window--train-setup--side.a {
  background-color: var(--color-light-5);
}
.window--train-setup--side.b {
  background-color: var(--color-light-6);
}

.window--train-setup--side--label {
  --height: 60px;
  position: absolute;
  left: 20px;
  top: calc(50% - var(--height)/2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height);
  color: var(--color-light-1);
  font-size: 1.2rem;
  user-select: none;
  pointer-events: none;
}

.window--train-setup--training-method {
  display: flex;
  width: 100%;
}

.window--train-setup--training-data--field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 10px;
  height: 40px;
  background-color: var(--color-light-7);
  border: 2px solid var(--color-light-7);
  user-select: none;
  cursor: pointer;
}

.window--train-setup--side.a 
.window--train-setup--training-data--field:hover {
  border-color: var(--color-light-4);
}

.window--train-setup--side.b 
.window--train-setup--training-data--field:hover {
  border-color: var(--color-light-5);
}

.window--train-setup--training-method--randomize {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  user-select: none;
}

.window--train-setup--teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  max-height: 50%;
  height: 50%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--color-light-6);
}

.window--train-setup--teams--list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.window--train-setup--teams--input {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: var(--color-light-8);
  color: var(--color-white);
}

.team-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border-radius: 10px;
}

.team-card:hover {
  background-color: var(--color-light-6);
}

.team-card .icon {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.team-card .icon:hover {
  background-color: var(--color-light-6);
}

.window--train-setup--side .icon.arrow {
  display: none;
  width: 24px;
  height: 24px;
}

.window--train-setup--training-data--field:hover .icon {
  display: block;
}



/* UPDATES FOR EXTERNAL SHIT */

#window--train-setup .dataset-button {
  justify-content: start;
  height: max-content;
  min-height: max-content;
  padding: 10px;
  margin-right: 10px;
}