#window--train {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  /* padding: 80px; */
  /* padding-top: 120px; */
}

#window--train.top-padding {
  /* padding: 80px; */
  padding-top: 80px;
}

.window--train--buttons {
  display: flex;
  gap: 10px;
}

.window--train--button--fail {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

.window--train--button--success {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

.window--train--button--review {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.window--train--button--fail .icon {
  width: 24px;
  height: 24px;
}

.window--train--button--success .icon {
  width: 24px;
  height: 24px;
}

.training-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 960px;
  height: 620px;
  min-width: 960px;
  min-height: 620px;
  padding: 80px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: all 0.08s ease-in-out;
}

.training-card.side-a {
  background-color: var(--color-light-7);
}

.training-card.side-b {
  background-color: var(--color-accent);
}

.training-card.side-a:hover {
  background-color: var(--color-light-6);
}

.training-card.side-b:hover {
  background-color: var(--color-accent-hover);
}

.training-card.side-end {
  background-color: var(--color-accent);
  flex-direction: column;
}

#window--train.brainrot .training-card.side-b {
  flex-direction: column;
  gap: 40px;
}

.training-card.golden {
  background-color: rgb(153, 137, 49)!important;
}

.training-card--side-end--title {
  font-size: 3rem;
}
.training-card--side-end--description {
  font-size: 1.5rem;
  font-weight: 300;
}

.training-card--title {
  font-weight: 400;
  font-size: 2rem;
}

.training-card--description {
  font-size: 1.5rem;
  font-weight: 300;
}


.training-card--title.brainrot {
  font-weight: 400;
  font-size: 2rem;
}

.training-card--description.brainrot {
  font-size: 1.5rem;
  font-weight: 300;
}

.training-card--images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
  max-height: 100%;
  padding: 0 40px;
  font-size: 1.5rem;
  font-weight: 300;
}

.training-card--image {
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.window--train--message--done {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.window--train--team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  background-color: var(--color-light-7);
  border-radius: 20px;
  user-select: none;
}

.window--train--team--title {
  font-size: 3rem;
  color: var(--color-light-2);
}

.window--train--team--description {
  font-size: 3rem;
}

.window--train--team--round {
  font-size: 3rem;
  margin-left: 80px;
}

.window--train--drink-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  pointer-events: none;
  opacity: 0;
}

.window--train--drink-popup--contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 60px;
  background-color: var(--color-warning);
  border-radius: 100%;
}

.window--train--drink-popup--title {
  font-size: 3rem;
}

.window--train--drink-popup--description {
  font-size: 6rem;
}