#window--train {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  padding: 80px;
  padding-top: 120px;
}

.window--train--buttons {
  display: flex;
  gap: 10px;
}

.window--train--button--fail {
  font-size: 1rem;
}

.window--train--button--success {
  font-size: 1rem;
}

.window--train--button--review {
  font-size: 1rem;
}

.training-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 960px;
  height: 620px;
  padding: 80px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  transition: all 0.08s ease-in-out;
}

.training-card.side-a {
  background-color: var(--color-light-7);
}

.training-card.side-b {
  background-color: var(--color-accent);
}
.training-card.side-a:hover {
  background-color: var(--color-light-6);
}

.training-card.side-b:hover {
  background-color: var(--color-accent-hover);
}

.training-card--title {
  font-weight: 400;
  font-size: 2rem;
}

.training-card--description {
  font-size: 1.5rem;
  font-weight: 300;
}

.training-card--images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  max-height: 100%;
  padding: 0 40px;
  font-size: 1.5rem;
  font-weight: 300;
}

.training-card--image {
  overflow: hidden;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
}