:root {
  --width--window--edit: 1600px;
  --width--window--edit--right-side: 360px;
}
#window--edit {
  display: flex;
  align-items: center;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  padding: 80px;
}

.window--edit--left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  max-width: calc(var(--width--window--edit) - var(--width--window--edit--right-side));
  background-color: var(--color-light-7);
  border-radius: 20px;
  padding: 60px;
}

.window--edit--left-side--images-heading {
  font-size: 1.2rem;
}

.window--edit--right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--width--window--edit--right-side);
  min-width: var(--width--window--edit--right-side);
  background-color: var(--color-light-7);
  border-radius: 20px;
  padding: 20px;
}

.window--edit--right-side.collapsed {
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 60px;
  height: 60px;
}

.window--edit--right-side--heading {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  user-select: none;
}

.window--edit--right-side--heading--dataset {
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 0.08s ease-in-out;
}

.window--edit--right-side--heading--dataset:hover .icon {
  opacity: 1;
}

.window--edit--right-side--item-cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.window--edit--right-side--contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.window--edit--right-side--contents-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon.window--edit--right-side--icon--dropdown {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}


.window--edit--left-side--input-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.window--edit--left-side--input-form input[type=text] {
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--color-light-8);
  color: var(--color-light-0);
}

.window--edit--left-side--input-form textarea {
  resize: vertical;
  padding: 10px;
  background-color: var(--color-light-8);
  color: var(--color-light-0);
  max-height: 240px;
  min-height: 80px;
}

.window--edit--left-side--heading {
  font-weight: 400;
  padding-left: 2px;
  user-select: none;
}

.window--edit--left-side--dataset-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-left: 2px;
}

.window--edit--left-side--bottom-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px 5px 20px;
  border: 2px solid var(--color-light-6);
  border-radius: 14px;
  user-select: none;
}

#window--edit input[type=submit] {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--color-white);
}

.window--edit--left-side--button--cancel {
  background-color: var(--color-light-6);
  font-size: 1.2rem;
  font-weight: 300;
  height: 60px;
}

.window--edit--left-side--button--cancel:hover {
  background-color: var(--color-light-5);
}

.window--edit--left-side--bottom-bar--heading {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-light-0);
}

.window--edit--very-left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-light-8);
  border: 2px solid var(--color-light-7);
  transition: background-color 0.2s ease-in-out;
}

.window--edit--very-left-side.collapsed {
  width: 60px;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 60px;
  background-color: var(--color-light-7);
}

.window--edit--very-left-side--datasets {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#window--edit .icon.datasets {
  width:  40px;
  height: 40px;
  border-radius: 5px;
}

#window--edit .icon.datasets:hover {
  background-color: var(--color-light-6);
}

#window--edit .icon.items {
  width:  40px;
  height: 40px;
  border-radius: 5px;
}

#window--edit .icon.items:hover {
  background-color: var(--color-light-6);
}